@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(43, 46, 201);
    column-gap: 30px;
}
.icon{
    font-family:Arial, Helvetica, sans-serif, "fontawesome";
}
::placeholder{
    color: rgb(183, 181, 181);
}
.main{
    width: 390px;
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
}
.titel{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    color:#232836;
}
form{
    margin-top: 30px;
}
form .input_box{
    position: relative;
    height: 45px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.input_box input,
.input_box button{
    height:100%;
    width: 100%;
    border: none; 
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.input_box input{
    outline: none;
    padding:10px;
    border: 1px solid #cacaca;
}
.input_box input:focus{
    border-bottom-width:2px;
}
.input_box button{
    color: #fff;
    background-color: rgb(11, 123, 221);
}
.input_box button:hover{
    background-color: rgb(22, 104, 175);
}
.option{
    text-align: center;
    margin-top: 10px;
}
.option span,
.option a{
    font-size: 16px;
    font-weight: 400;
}
.option a{
    text-decoration: none;
}
.option a:hover{
    text-decoration:underline;
}
.line{
    position: relative;
    height: 1px;
    width: 100%;
    background-color:#d4d4d4;
    margin: 36px 0;
}
.line::before{
    content: "Or";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #232836;
    padding:0 15px;
}
.social_icon a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 15px;
}
a.Facebook{
    color: #fff;
    background-color: #4267b2;
}
 .Facebook:hover{
    background-color: #134ec4;
}
 .fa-facebook,
 img.google-image{
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
img.google-image{
    height: 25px;
    width: 25px;
    object-fit: cover;
    
}
a.Google{
    color: #000;
    background-color: #fff;
    border: 1px solid #cacaca;
}
a.Google span{
font-weight: 500;
opacity: 0.6;
color: #000;
}
